AL-Commons/target/
AL-Chat/config/mycs.properties
AL-Chat/log/
AL-Chat/target/
AL-Game/cache/
AL-Game/config/mygs.properties
AL-Game/log/
AL-Game/target/
AL-Login/config/myls.properties
AL-Login/log/
AL-Login/target/
dist_jdk25/*

**/.idea/
**/.settings/
**/*.iml
**/.classpath
**/.project